[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "uvicorn guid:app --reload"
migrate = "alembic upgrade head"
test = "pytest"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
requests = "*"
sqlalchemy-utils = "*"

[packages]
starlette = "*"
uvicorn = "*"
fastapi = "*"
redis = "*"
aiosqlite = "*"
databases = "*"
alembic = "*"
aioredis = "*"
aiocache = "*"
email-validator = "*"
ujson = "*"
msgpack = "*"

[requires]
python_version = "3.7"
